@{
    ViewBag.Title = "Avis";

    <link rel="stylesheet" href="~/css/my_avis.css" asp-append-version="true" />
}

<h1 class="title-avis">Mes Avis</h1>

<p class="p-avis">Voici l'ensemble de vos avis</p>

<h1>Création d'Avis</h1>

<p>Pour créer un avis vous devez créer un locataire préalablement.</p>

<hr>

@Html.ActionLink("Index", "Index", "IndexLocataire", new { area = "" }, new { @class="txt-new-avis" })
@Html.ActionLink("Créer", "Index", "CreateLocataire", new { area = "" }, new { @class="txt-new-avis" })
@Html.ActionLink("Détails", "Details", "DetailsLocataire", new { area = "" }, new { @class="txt-new-avis" })
@Html.ActionLink("Modifier", "Edit", "EditLocataire", new { area = "" }, new { @class="txt-new-avis" })
@Html.ActionLink("Supprimer", "Delete", "DeleteLocataire", new { area = "" }, new { @class="txt-new-avis" }) 

<hr>

@*@Html.ActionLink("Créer", "CreateLocataire", "Locataire", new { area = "" }, new { @class="txt-new-avis" })*@
