@model PraiseUS.Models.DeleteModelLocataire



<h1>Supprimer</h1>

<h3>Supprimer ce locataire ?</h3>



@*<div>
    <h4>Locataire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.nationalite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.nationalite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.dateDeNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.dateDeNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.inscriptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.inscriptionDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Locataire.locataireId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>*@
