@page
@*@model PraiseUS.Areas.ALocataire.Pages.CreateLocataire*@

@*@{
    ViewData["CreateLocataire"] = "Créer un nouveau locataire";
}*@


<h1>Créer</h1>

<h4>Locataire</h4>

<h4>Pas la bonne page</h4>
<hr />

@*<div class="row">
    <div class="col-md-4">
       @* <form method="post" enctype="multipart/form-data">*@

  @*         <div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input id="@nom" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input id="@prenom" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input id="@nationalite" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input id="@dateDeNaissance" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input id="@inscriptionDate" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

            @*<partial name="~/Pages/Shared/EditorTemplates/Locataire.cshtml" model="@Model.Locataire" />

            <div class="form-group mt-2">
                <input type="submit" value="Créer" class="btn btn-primary" />
                <a class="btn btn-success" asp-page="/">Retour à la liste</a>
            </div>*@

        @*</form>*@
    </div>
</div>

@*<tr>
    <th>
        @Html.DisplayNameFor(model => model.Locataire.nom)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Locataire.prenom)
    </th
    <th>
        @Html.DisplayNameFor(model => model.Locataire.nationalite)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Locataire.dateDeNaissance)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Locataire.inscriptionDate)
    </th>

</tr>*@

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="textBox1" class="control-label"></label>
                <input asp-for="Locataire.nom" class="form-control" />
                <span asp-validation-for="Locataire.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.prenom" class="control-label"></label>
                <input asp-for="Locataire.prenom" class="form-control" />
                <span asp-validation-for="Locataire.prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.nationalite" class="control-label"></label>
                <input asp-for="Locataire.nationalite" class="form-control" />
                <span asp-validation-for="Locataire.nationalite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.dateDeNaissance" class="control-label"></label>
                <input asp-for="Locataire.dateDeNaissance" class="form-control" />
                <span asp-validation-for="Locataire.dateDeNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.inscriptionDate" class="control-label"></label>
                <input asp-for="Locataire.inscriptionDate" class="form-control" />
                <span asp-validation-for="Locataire.inscriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
