@model PraiseUS.Models.DetailsModelLocataire



<h1>Details</h1>

@*<div>
    <h4>Locataire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.nationalite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.nationalite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.dateDeNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.dateDeNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire.inscriptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locataire.inscriptionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Locataire?.locataireId">Edit</a> |
    <a asp-page="/">Back to List</a>
</div>*@
